<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--  VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <!--  BUEFY  -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!--  FONTAWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
        crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <b-navbar class="is-info">
            <template slot="brand">
                <b-navbar-item href="#">
                    <i class="fas fa-cube">
                        <span style="margin-left: 1rem">Blender 2.8 Render Farm</span>
                    </i>
                </b-navbar-item>
            </template>
        </b-navbar>
        <section class="hero">
            <div class="container" style="margin-top: 2rem">
                <div class="columns">
                    <div class="colum is-4" style="margin-right: 2rem">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Input settings
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <field>
                                        <label class="label">Select Machine</label>
                                        <div class="control has-icons-left">
                                            <div class="select">
                                                <select>
                                                    <option selected>Country</option>
                                                    <option>Select dropdown</option>
                                                    <option>With options</option>
                                                </select>
                                            </div>
                                            <span class="icon is-left">
                                                <i class="fas fa-desktop"></i>
                                            </span>
                                        </div>
                                    </field>
                                    <div class="field">
                                        <label class="label">Uploader Project path</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input class="input" type="text">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-file-upload"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Load project to all agent</a>
                            </footer>
                        </div>
                    </div>
                    <div class="colum is-4"  style="margin-right: 2rem">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Rendering settings
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div class="field">
                                        <label class="label">Frame batch size</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input class="input" type="text">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-layer-group"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Render</a>
                            </footer>
                        </div>
                    </div>
                    <div class="colum is-4">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Output settings
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <field>
                                        <label class="label">Select Machine</label>
                                        <div class="control has-icons-left">
                                            <div class="select">
                                                <select>
                                                    <option selected>Country</option>
                                                    <option>Select dropdown</option>
                                                    <option>With options</option>
                                                </select>
                                            </div>
                                            <span class="icon is-left">
                                                <i class="fas fa-desktop"></i>
                                            </span>
                                        </div>
                                    </field>
                                    <div class="field">
                                        <label class="label">Download result path</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input class="input" type="text">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-file-download"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Download results to machine</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container is-fluid" style="margin-top: 2rem">
                <b-collapse aria-id="contentIdForA11y2" class="panel" :open.sync="isOpen">
                    <div slot="trigger" class="panel-heading" role="button" aria-controls="contentIdForA11y2">
                        <i class="fas fa-plug">
                            <strong style="margin-left: 1rem">Connected Hosts</strong>
                        </i>
                    </div>
                    <div class="panel-block">
                        <b-input placeholder="Search..." type="search" icon-pack="fas" icon="search"
                            v-model="searchSgtringName">
                        </b-input>
                    </div>
                    <div class="panel-block" v-for="el in filteredConnectedHostList">
                        <b-tooltip v-if="el.type === 'master'" position="is-right" label="Master">
                            <i class="fas fa-brain"></i>
                        </b-tooltip>
                        <b-tooltip v-else-if="el.type === 'file_provider'" position="is-right" label="File Provider">
                            <i class="fas fa-piggy-bank"></i>
                        </b-tooltip>
                        <b-tooltip v-else-if="el.type === 'agent'" position="is-right" label="Agent">
                            <i class=" fas fa-tools" v-else-if=></i>
                        </b-tooltip>

                        <span style="margin-left: 1rem">#{ el.name }</span>

                        <strong style="margin-left: 1rem" class="has-text-info">Ip: </strong>
                        <span> #{ el.ip }</span>

                        <strong style="margin-left: 1rem" class="has-text-info">Port: </strong>
                        <span> #{ el.port }</span>

                        <strong style="margin-left: 1rem" class="has-text-info">Project Folder: </strong>
                        <span>#{ el.project_folder }</span>
                    </div>
                </b-collapse>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Blender 2.8 Render Farm</strong> simple test.
                </p>
            </div>
        </footer>
    </div>
    <script>
        app = new Vue({
            el: "#app",
            delimiters: ['#{', '}'],
            data: {
                isOpen: true,
                connectedHostList: [
                    {
                        name: 'Master server',
                        type: 'master',
                        ip: '127.0.0.1',
                        port: '8081',
                        project_folder: '/path/proj1'
                    },
                    {
                        name: 'Blender gui',
                        type: 'file_provider',
                        ip: '127.0.0.1',
                        port: '8082',
                        project_folder: '/path/proj2'
                    },
                    {
                        name: 'Slave 1',
                        type: 'agent',
                        ip: '127.0.0.1',
                        port: '8083',
                        project_folder: '/path/proj3'
                    }
                ],
                searchSgtringName: ''
            },
            computed: {
                filteredConnectedHostList() {
                    return this.connectedHostList
                        .filter((el) => {
                            return el.name.toLowerCase().includes(
                                this.searchSgtringName.toLowerCase()
                            )
                        }
                        )
                }
            }
        });
    </script>
</body>