<head>
    <!--  VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <!--  BUEFY  -->
    <!-- Buefy CSS -->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <!-- Buefy JavaScript -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <!--  FONTAWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
          crossorigin="anonymous">
</head>

<body>
<div id="app">
    <b-navbar class="is-info">
        <template slot="brand">
            <b-navbar-item href="/">
                <i class="fas fa-graduation-cap">Simple</i>
            </b-navbar-item>
        </template>
    </b-navbar>
    <b-button type="is-success" @click="httpGet()">Render</b-button>
    <p> #{ message } </p>
    <b-collapse
            aria-id="contentIdForA11y2"
            class="panel"
            :open.sync="infoJobsIsOpen">
        <div
                slot="trigger"
                class="panel-heading"
                role="button"
                aria-controls="contentIdForA11y2">
            <strong>Jobs info</strong>
        </div>
        <div class="panel-block" v-for="job in jobsStatus">
            <ul>
                <li><strong>Id:</strong> #{ job.id }</li>
                <li><strong>Status:</strong> #{ job.status }</li>
                <li><strong>Output:</strong> #{ job.results }</li>
            </ul>

        </div>
    </b-collapse>
</div>
<script>
        app = new Vue({
            el: "#app",
            delimiters: ['#{', '}'],
            data: {
                message: '',
                jobsStatus: [],
                infoJobsIsOpen: true
            },
            created(){
                window.setInterval( () => {this.updateJobsStatus()}, 1000)
            },
            methods: {
                httpGet() {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = () => {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            this.message = xmlHttp.responseText;
                    }
                    xmlHttp.open("GET", "/api/exec_render", true); // true for asynchronous
                    xmlHttp.send(null);
                },
                updateJobsStatus() {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = () => {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                            this.jobsStatus = JSON.parse(xmlHttp.responseText);
                        }
                    }
                    xmlHttp.open("GET", "/api/job_status", true); // true for asynchronous
                    xmlHttp.send(null);
                }
            },
        });



</script>
</body>